@media only screen and (max-width:1250px) {
*, html, h1, h2, h3, ul, ol, li, form {box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; }
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webm-inr, .webn-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:1040px;}

.web-a-inner{padding:100px 10px 0}
.topheadr{width:98%;}
.improvinr{width:28%;}
.selector{left:158px;}
.web-d-inner{padding:50px 0; }
.line24{padding:0;}
.webs-txt{padding:30px 0;}
.botlog{padding-top:20px;}
.webs-inr{padding:50px 0;}
.webt-inr{padding:50px 0;}
.line25{padding:0;}
.weblnd-g{min-height:auto; padding:40px 0;}
.getlft{padding:0;}
.getrgt{padding:0;}
.aboutus{ background-size:cover;}
.line1, .line2{text-shadow: 0 0 4px #000; text-align:center;}
.fitrbox{ float:none;}
.fetrbtn{text-align:center;}
.featurd{padding-bottom:40px; background-color:#41C2EB;}
.webj-left{width:50%;}
.webm-inr{padding:30px 20px 0 20px;}
.line13 br{display:none;}
.webmimg{ padding-top: 20px;}
.webn-inr{padding: 30px 15px;}
.webn-left{padding-top: 50px;}
.contact{ background-size:cover;}
.webctop{width:100%;}
.line21{padding:20px 0 0 0;}
.webr-inr{ padding:30px 20px;}
.line20c{font-size:35px;}
.pricing{background-size:cover;}
.planswrp ul li{padding-bottom:20px;}
.web-b-inner{padding:30px 10px;}

}

@media only screen and (max-width:1039px) {
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webm-inr, .webn-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:980px;}

.weblnd-c{background-position:100%;}
.improvinr{width:40%;}
.web-a-inner{padding-top:70px;}
.line4{font-size:30px;}
.getlft{width:60%;}
.selector{left:126px;}
.webrlft{width:60%;}
.webrrgt{width:40%; padding-left:40px;}
.line17{font-size:50px;}
.webp-right{ margin-right:0;width:100%; float:none; text-align:center;}
.webp-inr{ background:none; padding:30px 15px;}
.webp-no{text-align: center; margin:0 auto; display:inline-block;}
}

@media only screen and (max-width:979px) {	
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webm-inr, .webn-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:800px;}

.web-a-inner{padding-top:30px;}
.line1{text-align:center;}
.line2{text-align:center; font-size:30px;}
.trybtn1{ float:none; text-align:center;}
.planwrp{padding-top:40px;}
.planlft{padding-right: 30px;width:40%;}
.planrgt{padding-top:0;}
.lifstylinr ul li{padding: 0 10px;width: 32%;}
.improvinr{width: 55%;padding-top:0;}
.line6, .line7{font-size:30px;}
.weblnd-d{padding: 50px 0;}
.selector{left:154px; top: 105px;}
.getlft{font-size:30px;}
.managlft{width: 52%;padding-top: 30px;}
.weblnd-f{ background-size: 100% auto; min-height:auto; padding-bottom:20px;}
.weblnd-e{min-height:auto; margin-top:0; background-size:cover;}
.weblnd-c{padding: 30px 0; min-height:auto;}
.iphone{width:200px;}
.iphone img{width:100%;}
.connlft{padding-top:0;width:50%;}
.connrgt{width:auto; padding-right:60px;}
.orgnizwrp{padding:50px 15px;}
.orgnilft{margin-top:0;}
.webj-right{ padding-top:0px;}
.webj-inr{padding:50px 0;}
.getinr1{padding:0 20px 30px 20px;}
.webk-inr{padding:40px 15px;}
.webl-inr{padding:100px 15px;}
.webl-right{ float:left;}
.webm-inr{padding:40px 20px;}
.webn-left{float:none; width:100%;}
.webn-right{ float:none; margin-right:0; width:100%;}
.line14{text-align:center;}
.webntxt{text-align:center;}
.webmtxt{padding: 30px 50px 0;}
.line20c br{display:none;}
.line15{font-size:35px;}
.line17{font-size:40px;}
.webo-inr{padding:30px 15px;}


}

@media only screen and (max-width:799px) {
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webn-inr, .webm-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:680px;}

.web-a-inner{padding-top:20px;}
.line2{font-size:25px; line-height:30px;}
.line3{font-size:25px;}
.line4{font-size:25px;}
.lifstylinr ul li{width:100%; padding-bottom:30px;}
.trybtn1{padding-top:14px;}
.improvinr{width:70%;}
.line6, .line7{font-size:25px;}
.selector{left:120px;}
.weblnd-f{background-size:cover;}
.getlft{width:100%; font-size:25px; padding-top:0; text-align:center;}
.getrgt {display: table;float: none; margin: 0 auto;padding-top:20px;text-align: center;}
.getwrp{padding:20px 40px;}
.weblnd-g{min-height:auto;}
.line8, .line9{font-size:25px;}
.line22{font-size:40px;}
.webs-inr{padding:30px 20px;}
.line24 br{ display:none;}
.line23{padding:30px 0 0 0;}
.weblnd-m{ background-size: cover;}
.webm-inr{padding-bottom:0}
.webrlft{width:100%; float:none;}
.webrrgt{width:100%; padding:0; float:none;}
.contrgbox{padding-top:40px;}
.web-c-inner{padding:40px 10px;}
.line20{font-size:35px;}
.line19{font-size:35px;}
.qusboxlft{ float:none; width:100%; padding-right:0;}
.qusboxrgt{float:none; width:100%; padding-left:0;}
.webo-txt{padding:0 20px;}
}


@media only screen and (max-width:679px) {
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .signwrp, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webn-inr, .webm-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:480px;}

.topheadr{height:auto; padding:10px 0;}
.weblnd-b{ padding-top: 30px;}
.line4{padding:0 20px;}
.line4 br{display:none;}
.orgnirgt{float: none;padding-top: 400px;width: 100%;}
.selector {left: 230px;}
.line1{font-size:25px;}
.line2{padding-top:120px;}
.planlft{width:100%; padding:0;}
.planrgt{width:100%; float:none; padding-top:20px; display:inline-block;}
.improvinr{width:100%;}
.weblnd-c{background-size:cover; padding:0;}
.improvwrp{background:rgba(255,255,255, 0.6); padding:20px; }
.connlft{width:100%; float:none; padding-bottom:30px;}
.connrgt{ float:none; width:100%; text-align:center; padding:0;}
.iphone {margin: 0 auto;text-align: center;width: 170px;}
.weblnd-d {padding: 30px 0;}
.selector {left: 150px;}
.line3{text-align:center;}
.plantxt{text-align:center;}
.line6, .line7{text-align:center;}
.improvtxt{text-align:center;}
.lrnbtn{text-align:center;}
.conntxt{text-align:center;}
.cntbtn{text-align:center;}
.line8{text-align:center;}
.orgtxt{text-align:center;}
.managlft{width:100%; float:none; padding:0;}
.line9{text-align:center;}
.managtxt{text-align:center;}
.lrnbtn1{text-align:center;}
.weblnd-f{padding:0;}
.bot{background:rgba(255,255,255, 0.7); padding:30px 20px;}
.signfild{width:100%;}
.signwrp h1{font-size:30px;}
.signwrp h2{font-size:16px;}
.line22{font-size:normal; line-height:normal; font-size:35px;}
.line24, .line25{font-size:30px;}
.valubox ul li{padding-top:50px;}
.valbx{width:100%;}
.weblnd-t{ background-repeat:repeat;}
.webj-left, .webk-left{ float:none; width:100%;}
.webj-right, .webk-right{ float:none; width:100%; padding-top:50px;}
.webl-right{width:70%;}
.webmtxt{padding: 30px 10px 0;}
.line10, .line11{text-align:center;}
.webjtxt, .webktxt{text-align:center;}
.line13, .line14{font-size:30px;}
.line20, .line20c{font-size:30px;}
.prictop{padding:20px 0;}
.line15, .line17, .line18, .line19{font-size:30px;}
.webq-inr{padding:30px 15px; }
}

@media only screen and (max-width:479px) {
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .signwrp, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webn-inr, .webm-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:100%;}

.line2{padding-top:50px;}
.line2 br{display:none;}
.selector {width:90px; height:90px;left: 110px;}
.iphone{width:130px;}
.getbtn a{ padding: 0 20px;}
.lftlogo{width:130px;}
.resep{font-size:28px;}
.line1 {font-size: 20px;}
.icon{ padding-right:10px;}
.trybtn a{padding: 0 15px;}
.fotlft{ float:none; width:100%;}
.fotrgt{ float:none; width:100%; padding-bottom:20px;}
.fotlogo{text-align:center; margin:0 auto;}
.social-wrap ul{text-align:center; margin:0 auto; display:table;}
.signwrp{ padding:20px 20px 0 20px;}
.signwrp h1{font-size:25px;}
.signwrp h2{font-size:15px;}
.signwrp h3{font-size:14px;}
.line22{font-size:30px;}
.webj-inr{padding:30px 20px;}
.line10, .line11, .line12, .line13, .line14{font-size:25px; text-align:center;}
.webl-inr{padding:40px 15px;}
.webl-right{ float:none; width:100%; padding:0;}
.webltxt{text-align:center;}
.ph, .eml{font-size:16px;}
}


@media only screen and (max-width:319px) {
.weblndinr, .lifstylinr, .improvwrp, .connectwrp, .orgnizwrp, .getwrp, .fotbot, .signwrp, .webs-inr, .webt-inr, .getinr1, .webj-inr, .webk-inr, .webl-inr, .webn-inr, .webm-inr, .webr-inr, .webp-inr, .webo-inr, .webq-inr{width:270px; overflow-x:hidden;}		
.orgnilft{display:none;}
.orgnirgt{padding-top:0;}
.cntbtn{padding-top:20px;}
.getlft{font-size:20px;}
.getbtn a{ padding: 0 10px; font-size: 14px;}
.lftlogo{width:100%; text-align:left; padding-bottom:10px;}
.lftlogo img{width:130px;}
.toprgt{ float:none;}
.trybtn{float:none;text-align: center;}
.trybtn a{padding: 0 25px}
.line1{padding-top:30px;}
.line2{padding-top:20px;}
.fotbot{padding-top:20px;}
.webp-no span{ float:none;}
.ph, .eml{ float:none; text-align:center;}
.topnav.responsive ul{left: auto; right:0; z-index:100;}

}