@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/****** General Styles ******/
*, html, h1, h2, h3, ul, ol, li, form, :after, :before {
	border:0;
	margin:0;
	padding:0;
	outline:0;
	box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body {
	font-family: 'Open Sans', sans-serif;
	line-height:normal;
	color:#fff;
	background:#fff;
	
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#000;transition: 0.3s;
}
ul{ list-style:none;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 .h6{
	font-family: 'HelveticaNeueMedium', Arial, sans-serif;
	line-height:normal;;
	color:#2c252a;
	font-weight:normal;
}
h1, .h1 {
	font-size:40px;
}
h2, .h2 {
	font-size:40px;
}
h3, .h3 {
	font-size:28px;
}
h4, .h4 {
	font-size:22px;
}
h5, .h5 {
	font-size:20px;
}
h6, .h6 {
	font-size:18px;
}
img{ vertical-align:middle; max-width:100%;}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
input, textarea{ width:100%; padding:5px; font-family:Arial, sans-serif; font-size:16px; line-height:normal;color:#2c252a;}
input[type="submit"]{ cursor:pointer;}
.sitemap-h {
	display:none;
}
.heading-h {
	display:none;
}
.clr {
	clear:both;
}
.clearfix:after{ display:table; content:' '; clear:both;}

.web-container{width:100%; overflow:hidden; height:auto; margin-bottom:-22px;}
.signtop{width:100%; min-height:124px; background:url(../images/signup-bg.jpg) no-repeat center top; background-size:100% 100%;}
.cntrlogo{ text-align:center; padding:30px 0 0px 0;}
.signwrp{width:500px; margin:0 auto; padding-top:60px;}
.signwrp h1{font-family: 'Open Sans', Arial, sans-serif;font-size:36px; color:#606265; text-align:center; font-weight:300;}
.signwrp h2{font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color:#8d8e8d; text-align:center; font-weight:300;}
.signwrp h2 span{color:#c230d8;}
.signwrp h3{font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color:#606265; text-align:center; font-weight:normal; padding-top:20px;}
.signwrp h3 span{color:#33c0ed;}
.signwrp h4{font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#606265; text-align:center; font-weight:normal; padding-top:10px;}
.signform{width:100%;padding-top:50px;}
.signfild{width:500px; padding-bottom:20px;}
.signfild input[type="text"]{width:100%; height:43px; border-radius:5px; border:solid 1px #cad3df;font-family: 'Open Sans', Arial, sans-serif;font-size:14px; color:#000;font-weight:normal;padding-left:15px;}
.signfild input[type="password"]{width:100%; height:43px; border-radius:5px; border:solid 1px #cad3df;font-family: 'Open Sans', Arial, sans-serif;font-size:14px; color:#000;font-weight:normal;padding-left:15px;}
.signfild input[type="submit"]{width:100%; height:54px; line-height:48px; background:#33c0ed; border-radius:25px; font-family: 'Roboto', Arial, sans-serif;font-size:18px; color:#fff;font-weight:bold; text-transform:uppercase; margin-top:15px;}
.signfild input[type="submit"]:hover{background:#2ea9d0;}

.weblnd-a{ background: url(../images/shadow.png) no-repeat center top, url(../images/home-img.jpg) no-repeat center top; background-color:#a2d465; background-size:100% auto; padding-bottom:40px;}
.weblndinr{width:1200px; padding:0 15px; margin:0 auto;}
.lftlogo{ float:left;padding-top: 6px;}
.toprgt{ float:right;}
.topnav{ float:left;}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav ul li {float: left;}

.topnav ul li a {
  font-family: 'Open Sans', Arial, sans-serif; 
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  opacity:0.5;
}

.topnav ul li a:hover, .topnav ul li a.active { opacity:0.9; border-bottom:solid 2px #5fd9ff; padding-bottom:39px; transition:none;}

.icon {display: none;}

.resep{font-size:40px; line-height:20px;}

@media screen and (max-width:980px) {
.topnav{ position:relative;}	
.topnav ul li {display: none;}
.icon {
    float: right;
    display: inline-block;
	padding:12px 20px 0 0px;
  }	
  .icon a{color:#fff;}
  .topnav.responsive { position:relative;}
  .topnav.responsive ul {position: absolute; left:-52px;width:160px; top:50px; background:#54c6e9;transition: 0.3s;}
 .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    float: none;
    display: inline;
  }
  
  .topnav.responsive ul li a {
    display: block;
    text-align: left;
	padding:0 10px;
	line-height:40px;
	color:#000;
	opacity:1;
	border-bottom-color:#fff;
  }

   .topnav.responsive ul li a:hover, .topnav ul li a.active{background:#44a0bc; border-bottom:solid 1px #fff;color:#c9f2ff;}
 /*.topnav ul li a:hover, .topnav ul li a.active {border-bottom:none; }*/
 
 
 
}




.trybtn{padding-top:16px;text-align:center;}
.trybtn a{ background:#a2d465; text-align:center; color:#fff; line-height:36px;font-family: 'Roboto', Arial, sans-serif; height:36px; padding:0 25px; border-radius:20px; display:inline-block;transition: 0.3s;}
.trybtn a:hover{background:#8db65b;}


.web-a-inner{width:100%; padding:100px 54px 0 54px;}
.line1{ font-size:21px; color:#fff; text-align:left; font-weight: 310;font-family: Futura,Trebuchet MS,Arial,sans-serif;}
.line2{ font-size:38px; color:#fff; text-align:left;font-weight:400;}
.trybtn1{ float:left; padding-top:20px;}
.trybtn1 a{ background:#54c6e9; text-align:center; color:#fff;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; line-height:48px; height:48px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.trybtn1 a:hover{background:#4fb2d1;}
.planwrp{width:100%; padding-top:123px;}
.planlft{ float:left; padding-right:65px;}
.planrgt{ padding-top:120px;}
.line3{ font-size:38px; color:#fff; text-align:left;font-weight:300;font-weight:800;}
.plantxt{font-size:14px; color:#fff; padding-top:20px;}

.weblnd-b{ background:#fff url(../images/pc-bg.jpg) no-repeat center bottom;  padding-top:80px;}
.line4{font-size:38px; color:#00aeef; text-align:center;}
.lifstylwrp{width:100%; padding-top:40px;}
.lifstylinr{width:1200px; padding:0 15px; margin:0 auto;}
.lifstylinr ul{margin:0 auto; text-align:center; }
.lifstylinr ul li{width:33%;list-style:none; display:inline-block; padding:0 40px; vertical-align:top;}
.lifebox{text-align:center;}
.lifeicon{ text-align:center;}
.line5{font-size:24px; color:#606265; padding-top:30px;}
.lifetxt{font-size:14px; color:#606265; padding-top:10px; line-height:25px;}
.tablpc{width:100%; padding-top:56px; text-align:center;}
.signbtn{padding-top:40px; margin:0 auto; text-align:center;}
.signbtn a{ background:#c48ae6; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; height:48px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.signbtn a:hover{background:#b07cce;}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

/* Shutter Out Horizontal */
.signbtn-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.signbtn-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 background:rgba(255,255,255, 0.1);
 border-radius:20px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.signbtn-horizontal:hover, .signbtn-horizontal:focus, .signbtn-horizontal:active {
  color: white;
}
.signbtn-horizontal:hover:before, .signbtn-horizontal:focus:before, .signbtn-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.weblnd-c{background:#f1f6fa url(../images/four-bg.png) no-repeat left bottom;  padding-top:200px; min-height:760px;}
.improvwrp{width:1200px; padding:0 15px; margin:0 auto;}
.improvinr{ float:right; width:40%; padding-top:30px;}
.line6{font-size:38px; color:#08afe6; text-align:left;}
.improvtxt{font-size:14px; color:#606265; padding-top:20px; line-height:25px;}
.lrnbtn{padding-top:40px; margin:0 auto; text-align:left;}
.lrnbtn a{ background:#a2d465; text-align:center; color:#fff; line-height:41px;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; height:41px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.lrnbtn a:hover{background:#8eba58;}

.weblnd-d{background:#08afe6 url(../images/five-bg.jpg) no-repeat center top; padding-top:100px;}
.connectwrp{width:1200px; padding:0 15px; margin:0 auto;}
.connlft{ float:left;width:45%; padding-top:130px;}
.cntbtn{padding-top:40px; margin:0 auto; text-align:left;}
.cntbtn a{ background:#c48ae6; text-align:center; color:#fff; line-height:41px;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; height:41px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.cntbtn a:hover{background:#ac76cc;}
.conntxt{font-size:14px; color:#fff; padding-top:20px; line-height:25px;}
.line7{font-size:38px; color:#fff;}
.connrgt{ float:right;width:55%;}
.iphone{ text-align:center;}


.weblnd-e{background:#08afe6 url(../images/six-bg.jpg) no-repeat center top; margin-top:-160px; min-height:807px;}
.orgnizwrp{width:1200px; padding:0 15px; margin:0 auto;}
.orgnilft{ float:left; margin-top:200px; position:relative;}
.selector {
 position: absolute;
  left: 235px;
  top:120px;
  width: 140px;
  height: 140px;
}

.selector,
.selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(255,255,255, 0.2);
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}
.selector button img{border-radius: 50%;}

.selector button:hover { background:#08afe6; }

.selector button:focus { outline: none; }

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input { display: none; }

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

/*.selector li input + label:hover { background: #f0f0f0; }*/

.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}

.selector li input:checked + label:hover { background: #449d44; }

.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.orgnirgt{ width:40%;float:right;}
.line8{font-size:34px; color:#fff;}
.orgtxt{font-size:14px; color:#fff; padding-top:20px; line-height:25px;}
.weblnd-f{background:#fff url(../images/trainer.jpg) no-repeat center top; min-height:769px;}
.managlft{width:40%; float:left; padding-top:225px;}
.line9{font-size:34px; color:#a2d465;}
.managtxt{font-size:14px; color:#606265; padding-top:20px; line-height:25px;}
.lrnbtn1{padding-top:40px; margin:0 auto; text-align:left;}
.lrnbtn1 a{ background:#54c6e9; text-align:center; color:#fff; line-height:41px;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; height:41px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.lrnbtn1 a:hover{background:#51b3d1;}

.weblnd-g{background:#04d2c5; min-height:232px;}
.getwrp{width:1200px; padding:0 40px; margin:0 auto; }
.getlft{ float:left;font-size:34px; color:#fff;width:70%;padding-top:70px; font-weight:300;}
.getrgt{ float:right;padding-top:75px;}
.getbtn{ margin:0 auto; text-align:left; padding-top:10px;}
.getbtn a{ background:#ab6fe1; text-align:center; color:#fff; line-height:41px;font-family: 'Roboto', Arial, sans-serif;font-size:16px; text-transform:uppercase; height:41px; padding:0 52px; border-radius:20px; display:inline-block;transition: 0.3s;}
.getbtn a:hover{background:#9d67ce;}

.weblnd-h{background:#61707c; min-height:350px;}
.weblnd-i{background:#323d47; min-height:125px;}
.fotbot{width:1200px; padding:30px 15px 0 15px; margin:0 auto; }
.fotlft{float:left;}
.fotlogo{text-align:left; width:150px;}
.fotlogo img{width:100%;}
.fotyr{text-align:center;font-size:16px; color:#fff; opacity:0.2;}
.fotrgt{float:right;}

.social-wrap{width:100%; padding-top:20px;}
.social-wrap ul{ margin:0 auto; padding:0;}
.social-wrap ul li{list-style:none; float:left; padding-left:10px;}


.featurd{ background:url(../images/shadow.png) no-repeat center top, url(../images/featured-img.jpg) no-repeat center top; background-size:100% auto; padding-bottom:100px;}
.getwrp1{background:#41c2eb; min-height:202x;}
.getinr1{width:1200px; padding:40px; margin:0 auto; }
.nopadtop{ padding-top:0;}
.weblnd-j{width:100%;background:#fff;}
.webj-inr{width:1200px; padding:70px 15px 133px 15px; margin:0 auto;}
.webj-left{ float:left; text-align:left;width:55%;}
.webj-right{ float:right; width:45%; padding-top:100px;}
.line10{font-size:32px; color:#08afe6; font-weight:300;}
.webjtxt{font-size:14px; color:#606265; padding-top: 20px; line-height:25px;font-weight:300;}

.weblnd-k{width:100%;background:#b877bd url(../images/bg-trans.png) no-repeat left bottom;}
.webk-inr{width:1200px; padding:80px 15px 0px 15px; margin:0 auto;}
.webk-left{ float:left; text-align:left;width:40%; padding-top:50px;}
.webk-right{ float:right; margin-right:-100px; width:60%;}
.line11{font-size:32px; color:#fff; font-weight:300;}
.webktxt{font-size:14px; color:#fff; padding-top: 20px; line-height:25px;font-weight:300;}

.weblnd-l{width:100%;background:#fff url(../images/dsays-lft.jpg) no-repeat left bottom;}
.webl-inr{width:1200px; padding:150px 15px 150px 15px; margin:0 auto; }
.webl-right{ float:right; width:40%; padding-top:50px;}
.line12{font-size:32px; color:#08afe6; font-weight:300;}
.webltxt{font-size:14px; color:#606265; padding-top: 20px; line-height:25px;font-weight:300;}

.weblnd-m{width:100%;background:#fff url(../images/vegetable-bg.jpg) no-repeat center top; background-size:100% auto;}
.webm-inr{width:1200px; padding:80px 100px 0px 100px; margin:0 auto; }
.line13{font-size:48px;color:#fff; font-weight:300; text-align:center;}
.webmtxt{font-size:14px; color:#fff;line-height:25px;font-weight:300; text-align:center;padding:30px 100px 0 100px;}
.webmimg{width:100%; text-align:center; padding-top:50px;}

.weblnd-n{width:100%;background:#fff;}
.webn-inr{width:1200px; padding:80px 15px 0px 15px; margin:0 auto;}
.webn-left{ float:left; text-align:left;width:45%; padding-top:150px;}
.webn-right{ float:right; margin-right:-100px; width:60%;}
.line14{font-size:38px; color:#a2d465; font-weight:300;}
.webntxt{font-size:14px; color:#818080; padding-top: 20px; line-height:25px;font-weight:300;}
.fetrbtn{}
.fetrbtn a{ background:#bbd65f; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 50px; border-radius:20px; display:inline-block;transition: 0.3s; text-transform:uppercase;}
.fetrbtn a:hover{background:#aec757;}
.fitrbox{ float:left;float:left; padding-top:15px;}
.crdit{ font-family: 'Roboto', Arial, sans-serif;font-size:13px; text-align:center; color:#fff; opacity:0.6; font-weight:300; padding-top:5px;}

.pricing{ background:url(../images/shadow.png) no-repeat center top, url(../images/pricing-bg.jpg) no-repeat center top; background-size:100% auto; padding-bottom:26px;}
.prictop{width:85%; margin:0 auto; padding:0px 40px 30px 40px; border-bottom:solid 1px #bcb3a3;}
.line15{font-size:48px; text-align:center; font-weight:300;}
.line16{font-size:24px; color:#fff; font-weight:300; text-align:center;}
.web-b-inner{width:100%; padding:50px 54px 50px 54px;}
.pricbox{ text-align:center; padding:10px 0 40px 0;}
.line17{font-size:60px; text-align:center; font-weight:300;}
.pricbtn{}
.pricbtn a{ background:#04d2c5; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 50px; border-radius:20px; display:inline-block;transition: 0.3s; text-transform:uppercase;}
.pricbtn a:hover{background:#08b0a5;}

.planswrp{width:100%; margin:0 auto;}
.planswrp ul{margin:0 auto; text-align:center;}
.planswrp ul li{ display:inline-block; padding-right:10px; list-style:none; vertical-align:top;}
.planswrp ul li:last-child{padding-right:0;}
.plan-a{width:324px;height:auto;background:#fff; padding-bottom:30px;}
.plan-a-top{background:#7c8a8d; text-align:center; min-height:78px;font-size:30px; font-family: 'Open Sans', Arial, sans-serif; font-weight:300;color:#000; padding-top:15px;}
.plan-a-center{background:#a4b3b6; text-align:center; min-height:120px;font-size:60px; font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#fff; padding-top:20px;}
.plan-a-clint{font-size:24px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:30px 0;}
.plan-a-txt{font-size:16px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:0px 30px 20px 30px;}
.plan-a-btn{}
.plan-a-btn a{ background:#a4b3b6; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 50px; border-radius:20px; display:inline-block;transition: 0.3s; text-transform:uppercase;}
.plan-a-btn a:hover{background:#89999c;}

.plan-b{width:324px;height:auto;background:#fff; padding-bottom:30px;}
.plan-b-top{background:#99b734; text-align:center; min-height:78px;font-size:30px; font-family: 'Open Sans', Arial, sans-serif; font-weight:300;color:#000; padding-top:15px;}
.plan-b-center{background:#bbd65f; text-align:center; min-height:120px;font-size:60px; font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#fff; padding-top:30px; line-height:40px; }
.plan-b-center span{font-size:14px; display:block;}
.plan-b-clint{font-size:24px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:30px 0;}
.plan-b-txt{font-size:16px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:0px 30px 20px 30px;}
.plan-b-btn{}
.plan-b-btn a{ background:#bbd65f; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 50px; border-radius:20px; display:inline-block;transition: 0.3s; text-transform:uppercase;}
.plan-b-btn a:hover{background:#99b734;}

.plan-c{width:324px;height:auto;background:#fff; padding-bottom:30px;}
.plan-c-top{background:#379dbd; text-align:center; min-height:78px;font-size:30px; font-family: 'Open Sans', Arial, sans-serif; font-weight:300;color:#000; padding-top:15px;}
.plan-c-center{background:#54c6e9; text-align:center; min-height:120px;font-size:60px; font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#fff; padding-top:30px;line-height:40px;}
.plan-c-center span{font-size:14px; display:block;}
.plan-c-clint{font-size:24px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:30px 0;}
.plan-c-txt{font-size:16px;font-family: 'Open Sans', Arial, sans-serif; font-weight:400;color:#000; padding:0px 30px 20px 30px;}
.plan-c-btn{}
.plan-c-btn a{ background:#54c6e9; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 50px; border-radius:20px; display:inline-block;transition: 0.3s; text-transform:uppercase;}
.plan-c-btn a:hover{background:#379dbd;}

.weblnd-o{width:100%;background:#fff;}
.webo-inr{width:1200px; padding:100px 15px 80px 15px; margin:0 auto;}
.webobox{ text-align:center; padding:10px 0 40px 0; text-align:center;}
.webo-txt{font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#606265; text-align:center; opacity:0.6; font-weight:300; padding:0 100px;}
.webobtn{ padding-top:30px;}
.webobtn a{ background:#04d2c5; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 30px; border-radius:20px; display:inline-block;transition: 0.3s; }
.webobtn a:hover{background:#08b0a5;}
.crdit1{ font-family: 'Roboto', Arial, sans-serif;font-size: 12px; text-align:center; color:#606265; opacity:0.6; font-weight:300; padding-top:5px;}

.weblnd-p{width:100%;background:#ebedec;}
.webp-inr{width:1200px; padding:80px 15px 100px 15px; margin:0 auto; background:url(../images/support.jpg) no-repeat left top;}
.webp-right{ float:right; margin-right:-100px; width:60%;}
.line14{font-size:38px; color:#a2d465; font-weight:300;}
.webptxt{font-size:14px; color:#818080; padding-top: 20px; line-height:25px;font-weight:300;}
.line18{font-family: 'Open Sans', Arial, sans-serif; font-size:36px;color:#606265; }
.wcp{font-family: 'Open Sans', Arial, sans-serif; font-size:20px;color:#606265; padding-top:20px;}
.webp-no{font-family: 'Open Sans', Arial, sans-serif;color:#606265; padding-top:20px; font-weight:normal;}
.webp-no span{ float:left; padding:0 10px;}
.ph{ float:left; background:url(../images/ph.png) no-repeat left 5px; padding-left:22px;font-size:20px;}
.eml{ float:left; background: url(../images/email.png) no-repeat left 8px; padding-left:26px;font-size:20px;}


.weblnd-q{width:100%;background:#fff;}
.webq-inr{width:1200px; padding:80px 15px 100px 15px; margin:0 auto;}
.line19{font-family: 'Open Sans', Arial, sans-serif; font-size:48px;color:#bbd65f; font-weight:300; text-align:center;}
.qusbox{font-family: 'Open Sans', Arial, sans-serif; padding-top:80px; }
.qusboxlft{ float:left; padding-right:25px;width:50%;}
.qusboxrgt{ float:right; padding-left:25px;width:50%;}
.qusbn{padding-bottom:50px;}
.q{font-size:18px; color:#606265; font-weight:600;}
.a{font-size:14px; color:#606265; font-weight:400; padding-top:10px;}

.contact{ background:url(../images/shadow.png) no-repeat center top, url(../images/contact-bg.png) no-repeat center top; background-size:100% auto;}
.web-c-inner{width:100%; padding:50px 54px 150px 54px;}
.webctop{width:60%; margin:0 auto;}
.line20{font-family: 'Open Sans', Arial, sans-serif;font-size:48px; text-align:center; color:#fff; font-weight:300; line-height:50px;}
.line21{font-family: 'Open Sans', Arial, sans-serif;font-size:24px; text-align:center; color:#fff; font-weight:300; padding-top:35px; padding:35px 110px 0 110px;}

.weblnd-r{width:100%;background:#fff;}
.webr-inr{width:1200px; padding:100px 50px 80px 50px; margin:0 auto;}
.webrlft{ float:left; width:48%;}
.line20c{font-family: 'Open Sans', Arial, sans-serif;font-size:38px; color:#606265; text-align:left; font-weight:300;}
.contform{ padding-top:20px;}
.contform ul{}
.contform ul li{list-style:none; padding-bottom:20px;}
.field{width:100%;}
.field input[type="text"]{font-family: 'Open Sans', Arial, sans-serif;color:#4d5158; font-weight:normal;width:100%;border:solid 1px #cad3df; border-radius:5px; background:#fff;height:45px;padding-left:10px; font-size:14px;}
.field textarea{font-family: 'Open Sans', Arial, sans-serif;color:#4d5158; font-weight:normal;width:100%;border:solid 1px #cad3df; border-radius:5px; background:#fff; height:155px; padding-left:10px;font-size:14px;}
.field input[type="submit"]{width:155px; background:#33c0ed; text-align:center; color:#fff; line-height:48px;font-family: 'Roboto', Arial, sans-serif; height:48px; padding:0 30px; border-radius:20px; display:inline-block;transition: 0.3s;}
.field input[type="submit"]:hover{background:#30add5;}

.webrrgt{ float:right;width:50%;}
.contrgbox{padding-top:115px;}
.conm1{ background:url(../images/ph.png) no-repeat left 5px; padding-left:22px;font-size:18px; color:#606265; text-align:left; font-weight:600; padding-bottom:40px;}
.conm1 span a{font-size:18px; color:#606265; text-align:left; font-weight:500; display:block;}
.conm2{ background:url(../images/email.png) no-repeat left 5px; padding-left:22px;font-size:18px; color:#606265; text-align:left; font-weight:600; padding-bottom:40px;}
.conm2 span a{font-size:18px; color:#606265; text-align:left; font-weight:500; display:block;}
.conm3{ background:url(../images/map.png) no-repeat left 5px; padding-left:22px;font-size:18px; color:#606265; text-align:left; font-weight:600;}
.conm3 span{font-size:18px; color:#606265; text-align:left; font-weight:500; display:block;}

.web-d-inner{width:100%; padding:100px 54px 115px 54px;}
.webdtop{width:100%; margin:0 auto;}
.aboutus{ background:url(../images/shadow.png) no-repeat center top, url(../images/about-img.jpg) no-repeat center top; background-size:100% auto;}
.line22{font-family: 'Open Sans', Arial, sans-serif;font-size:48px; text-align:center; color:#fff; font-weight:500; line-height:50px;}
.line23{font-family: 'Open Sans', Arial, sans-serif;font-size:24px; text-align:center; color:#fff; font-weight:300; padding-top:35px; padding:35px 110px 0 110px;}
.webs-inr{width:1200px; padding:60px 15px 100px 15px; margin:0 auto;}
.line24{font-family: 'Open Sans', Arial, sans-serif;font-size:38px; text-align:center; color:#a2d465; font-weight:300; padding-top:35px; padding:35px 110px 0 110px;}
.webs-txt{font-family: 'Open Sans', Arial, sans-serif;font-size:14px;color:#606265;text-align:center;font-weight:normal; padding:50px 150px 0 150px;}
.botlog{ text-align:center; padding-top:60px;}

.weblnd-t{width:100%;background:url(../images/about-txt.jpg) no-repeat center top; background-size:100% auto;}
.wbt{width:100%; height:100%; background:rgba(244,244,244, 0.8);}
.webt-inr{width:1200px; padding:80px 15px 110px 15px; margin:0 auto;}
.line25{font-family: 'Open Sans', Arial, sans-serif;font-size:38px; text-align:center; color:#54c6e9; font-weight:300; padding-top:35px; padding:35px 110px 0 110px;}
.valubox{width:100%;}
.valubox ul{margin:0 auto; text-align:center;}
.valubox ul li{list-style:none; padding:100px 20px 0px 20px; display: inline-block;}
.valbx{text-align:center;width:290px;}
.valhd{font-family: 'Open Sans', Arial, sans-serif;font-size:30px; color:#606265; font-weight:300;}
.valtxt{font-size:14px; color:#606265; padding-top:10px; font-weight:normal;}